/* .task {
    width: 300px;
    word-wrap: break-word;
    padding-left: 15px;
}

.delete-button,
.complete-button {
    background: none;
    border: none;
}

.delete-button:hover {
    background-color: red;
}

.complete-button:hover {
    background-color: green;
}

.small-cell {
    width: 50px;
}


.completed {
    text-decoration: line-through;
    color: gray;
} */