/* * {
    border: 1px solid black;
} */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    margin-top: 50px;
}

.task {
    width: 300px;
    word-wrap: break-word;
    padding-left: 15px;
}

tr {
    background-color: bisque;
}

.delete-button, .complete-button {
    background: none;
    border: none;
}

.delete-button:hover {
    background-color: red;
}

.complete-button:hover {
    background-color: green;
}



.completed {
    text-decoration: line-through;
    color: gray;
}